.header-img{
    width:100%;
    height: auto;
}

.category-items{
    display: flex;
    border: solid blue 3px;
}
.product-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: grey;

}
.product-card-img{
    min-width: 200px;
    min-height: 280px;
    max-width: 350px;
    max-height: 250px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;

}
.product-img{
    width: 250px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.about-img{
    max-width: 100%;
    height: auto;
}
.about-section{
    padding: 40px;
}

.card{
    margin-bottom: 15px;
}

/* #myCarousel {
    margin-top: 50px;
} */
.carousel-control-next{
    width: 50px;
}
.carousel-control-prev{
    width: 50px;
}
.card{
    border: none;
}
.new-add-products{
    font-size: 40px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}