.cart-box {
    justify-content: center;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: inherit;
}

.purchase-item {
    display: flex;
}

.product-img-basket{
width: 150px;
}
.product-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.increase-no {
    align-self: flex-end;
}

.product-item {
    margin-top: 30px;
    border-bottom: solid rgba(128, 128, 128, 0.55) 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.buy-li {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
}

.buy-btn {
    border-radius: 10px;
    min-width: 100px;

}

.btn-up{
    background-color: yellow;
}

.container-cart {
    border: solid red 2px;
    margin-right: 20%;
    margin-left: 20%;
}

.cart-title-header {
    background-color: #F2BD2C;
}

.cart-title-buttom {
    background-color: grey;
}

.title-cart {
    color: grey;
    margin-left: 20%;
    margin-top: 80px;
}

.thisisredundant {
    position: absolute; 
    bottom: 5%;
    right: 2%;
}