.form-section {
    text-align: center;
    height: inherit;
}

/* Form in the main body */
.login-section {
    max-width: 330px;
    margin: auto;
    width: 100%;
    background-color: #F2BD2C;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Button on the form */
.form-btn {
    width: 100%;
    border-radius: 10px;
}

.signup-text{
font-size: 14px;
}
.signup-link{
    margin-left: 5px;
    color: #ED5A00;

}